div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  div.scrollmenu::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  div.scrollmenu {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

  html {
    scroll-behavior: smooth;
  }

  .spacer{
    height: 100px;
  }